.card .card-body .card-rounds {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-body .progress .bg-warning {
  background-color: #FF92C9!important;
}

.card-rounds .others {
  font-size: 60%;
  bottom: 0;
}

.card-rounds .human {
  font-weight: curly;
  color: #000000;
}

.card-rounds .default {
  color: #000000;
}

.bar-step {
    position:absolute;
    margin-top:-20px;
	  z-index:1;
    font-size:12px;
}

.label-txt {
    float: middle;
    color: #000;
}

.label-line {
    float: right;
    background: #000;
    height:22px;
	  width:3px;
    margin-left: 2px;
}

img.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    float: left;
    width: 100%;
}

.content {
    float: left;
    padding: 20px;
    width: 100%;
    margin-right: 10px;
}

.progress {
  margin-top: 18px;
}

.card {
  margin: 10px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding-top: 3rem;
}

#sidebar {
  min-width: 400px;
  max-width: 400px;
  min-height: 250px;
}

@media  (max-width: 768px) {
    #sidebar {
        margin-right: -400px;
    }
    #sidebar.active {
        margin-right: 0;
    }
}

u.dotted {
    text-decoration: underline dotted;
    text-decoration-color: #F000F0;
}

.card-title {
  margin-top: -15px;
}

a.btn-secondary {
    margin-right: 10px;
    margin-bottom: -10px;
}

.progress {
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -10px;
}

.glyphicon-download-alt:before {
    content:"\e025"
}
.glyphicon-download:before {
    content:"\e026"
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 0.5rem 2rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 0.2rem 2rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 0.2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.5rem 0.8rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .btn + .btn {
        margin-top: 0;
        margin-left: 0.2rem;
    }
}

.body-btn {
	background-color: rgba(128,128,128,0.1);
	border-color: #606c71;
	color: #606c71;
}

.body-btn:hover {
	background-color: rgba(128,128,128,0.6);
	border-color: #606c71;
	color: #606c71;
}

#up-top-icon {
    font-size: small !important;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.clear-a {
    color: #fff;
}

.clear-a:hover {
    text-decoration: none;
}

*:target {
    padding-top: 8% !important;
    margin-top: -8% !important;
}

.page-header {
      text-align: left;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 2;
      display: block;
      justify-content: left;
      align-items: left;
}

.header-btn {
  margin-bottom: -1px;
  align-self: flex-end;
}

@media (min-width: 895px) {
  button.btn {
    position: absolute;
    right: 1rem;
  }
}

@media (max-width: 895px) {
  .header-btn {
    margin-bottom: 5px;
  }

  img.sticky {
      position: sticky;
      position: -webkit-sticky;
      top: 5rem;
      float: left;
      width: 100%;
  }

  .content {
      float: left;
      padding-top: 50px;
      width: 100%;
      margin-right: 10px;
  }
}

@media screen and (min-width: 1030px) {
    .header-btn {
        padding: 0.5rem 0.8rem;
    }

    .view-column {
      width: 153px
    }

    .download-column {
      width: 169px
    }

    .rtt-column {
      width: 65px
    }

    .crocs-column {
      width: 86px
    }

    .legend-column {
      width: 244px
    }

    img.sticky {
        position: sticky;
        position: -webkit-sticky;
        top: 4rem;
        float: left;
        width: 100%;
    }

    .content {
        float: left;
        padding: 20px;
        width: 100%;
        margin-right: 10px;
    }
}

@media screen and (min-width: 755px) and (max-width: 1030px) {
    .header-btn {
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
        margin-bottom: 3px;
    }

    .view-column {
      width: 138px
    }

    .download-column {
      width: 152px
    }

    .rtt-column {
      width: 59px
    }

    .crocs-column {
      width: 78px
    }

    .legend-column {
      width: 220px
    }
}

@media screen and (min-width: 428px) and (max-width: 755px) {
    .header-btn {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
        margin-bottom: 5px;
        align-self: flex-end;
    }
}

@media screen and (max-width: 428px) {
  .header-btn {
      padding: 0.3rem 0.6rem;
      font-size: 0.8rem;
      margin-bottom: 5px;
      align-self: flex-end;
  }
  img.sticky {
      position: sticky;
      position: -webkit-sticky;
      top: 7rem;
      float: left;
      width: 100%;
  }

  .content {
      float: left;
      padding-top: 70px;
      width: 100%;
      margin-right: 10px;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    padding-top: 4rem;
  }
}

@media screen and (min-width: 580px) and (max-width: 1020px) {
  .container {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 580px) {
  .container {
    padding-top: 5rem;
  }
}
