.main-content {
    padding-top: 4rem;
    padding-left: 1px;
    width: 100%;
    float: left;
}

.card-deck .card {
    max-width: calc(25% - 30px);
}

img.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 4rem;
    float: left;
    width: 30%;
}

.content {
    float: left;
    padding: 20px;
    width: 100%;
}

.container {
    display: flex;
    align-items: flex-start;
    min-width: 100%;
    padding-top: 4rem;
}

u.dotted {
    text-decoration: underline dotted;
    text-decoration-color: #F000F0;
}

.btn {
    margin-bottom: 10px;
    min-width: 120px;
}

.page-header {
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: left;
    align-items: left;
}
.glyphicon-download-alt:before {
    content:"\e025"
}
.glyphicon-download:before {
    content:"\e026"
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 0.5rem 2rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 0.2rem 2rem;
    }
}

@media screen and (max-width: 42em) {
    .page-header {
        padding: 0.2rem 1rem;
    }
}

.project-name {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: 1rem;
}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 2.0rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-name {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 42em) {
    .project-name {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.5rem 0.8rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.4rem 0.7rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }

    .btn + .btn {
        margin-top: 0;
        margin-left: 0.2rem;
    }
}

.body-btn {
	background-color: rgba(128,128,128,0.1);
	border-color: #606c71;
	color: #606c71;
}

.body-btn:hover {
	background-color: rgba(128,128,128,0.6);
	border-color: #606c71;
	color: #606c71;
}

#up-top-icon {
    font-size: small !important;
    position: fixed;
    bottom: 1%;
    right: 1%;
}

.clear-a {
    color: #fff;
}

.clear-a:hover {
    text-decoration: none;
}

*:target {
    padding-top: 8% !important;
    margin-top: -8% !important;
}
